In [1]:
import pandas as pd
import numpy as np
nls97 = pd.read_csv('C:\dataClean\Python-Data-Cleaning-Cookbook\Chapter03\data\\nls97.csv')
nls97.set_index('personid', inplace=True)
nls97.loc[:, nls97.dtypes == 'object'] = nls97.select_dtypes(['object']).apply(lambda x: x.astype('category'))

In [2]:
analysisdemo = nls97['gender']
type(analysisdemo)

pandas.core.series.Series

In [3]:
analysisdemo = nls97[['gender']]     # 给操作符[]传入只包含一个元素的列表
type(analysisdemo)

pandas.core.frame.DataFrame

In [4]:
analysisdemo = nls97.loc[:, ['gender']]              # loc列选择器，: 表示切片的意思
type(analysisdemo)

pandas.core.frame.DataFrame

In [5]:
analysisdemo = nls97.iloc[:, [0]]
type(analysisdemo)

pandas.core.frame.DataFrame

In [6]:
analysisdemo = nls97[['gender', 'maritalstatus', 'highestgradecompleted']]
analysisdemo.shape

(8984, 3)

In [7]:
analysisdemo.head()

          gender  maritalstatus  highestgradecompleted
personid
100061    Female        Married                   13.0
100139      Male        Married                   12.0
100284      Male  Never-married                    7.0
100292      Male            NaN                    NaN
100583      Male        Married                   13.0

In [8]:
analysisdemo = nls97.loc[:, ['gender', 'maritalstatus', 'highestgradecompleted']]
analysisdemo.shape

(8984, 3)

In [9]:
analysisdemo.head()

          gender  maritalstatus  highestgradecompleted
personid
100061    Female        Married                   13.0
100139      Male        Married                   12.0
100284      Male  Never-married                    7.0
100292      Male            NaN                    NaN
100583      Male        Married                   13.0

In [11]:
keyvars = ['gender', 'maritalstatus', 'highestgradecompleted', 'wageincome', 'gpaoverall', 'weeksworked17', 'colenroct17']
analysiskeys = nls97[keyvars]
analysiskeys.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8984 entries, 100061 to 999963
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 8984 non-null   category
 1   maritalstatus          6672 non-null   category
 2   highestgradecompleted  6663 non-null   float64
 3   wageincome             5091 non-null   float64
 4   gpaoverall             6004 non-null   float64
 5   weeksworked17          6670 non-null   float64
 6   colenroct17            6734 non-null   category
dtypes: category(3), float64(4)
memory usage: 377.8 KB

In [13]:
analysiswork = nls97.filter(like="weeksworked")
analysiswork.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8984 entries, 100061 to 999963
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   weeksworked00  8603 non-null   float64
 1   weeksworked01  8564 non-null   float64
 2   weeksworked02  8556 non-null   float64
 3   weeksworked03  8490 non-null   float64
 4   weeksworked04  8458 non-null   float64
 5   weeksworked05  8403 non-null   float64
 6   weeksworked06  8340 non-null   float64
 7   weeksworked07  8272 non-null   float64
 8   weeksworked08  8186 non-null   float64
 9   weeksworked09  8146 non-null   float64
 10  weeksworked10  8054 non-null   float64
 11  weeksworked11  7968 non-null   float64
 12  weeksworked12  7747 non-null   float64
 13  weeksworked13  7680 non-null   float64
 14  weeksworked14  7612 non-null   float64
 15  weeksworked15  7389 non-null   float64
 16  weeksworked16  7068 non-null   float64
 17  weeksworked17  6670 non-null   float64
dtypes: float64(18)
memory usage: 1.3 MB

In [14]:
analysiscats = nls97.select_dtypes(include=['category'])
analysiscats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8984 entries, 100061 to 999963
Data columns (total 57 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 8984 non-null   category
 1   maritalstatus          6672 non-null   category
 2   weeklyhrscomputer      6710 non-null   category
 3   weeklyhrstv            6711 non-null   category
 4   highestdegree          8953 non-null   category
 5   govprovidejobs         1833 non-null   category
 6   govpricecontrols       1859 non-null   category
 7   govhealthcare          1874 non-null   category
 8   govelderliving         1872 non-null   category
 9   govindhelp             1815 non-null   category
 10  govunemp               1811 non-null   category
 11  govincomediff          1775 non-null   category
 12  govcollegefinance      1875 non-null   category
 13  govdecenthousing       1847 non-null   category
 14  govprotectenvironment  1860 non-null   category
 15  colenrfeb97            1250 non-null   category
 16  colenroct97            8501 non-null   category
 17  colenrfeb98            8501 non-null   category
 18  colenroct98            8888 non-null   category
 19  colenrfeb99            8865 non-null   category
 20  colenroct99            8851 non-null   category
 21  colenrfeb00            8820 non-null   category
 22  colenroct00            8805 non-null   category
 23  colenrfeb01            8786 non-null   category
 24  colenroct01            8758 non-null   category
 25  colenrfeb02            8732 non-null   category
 26  colenroct02            8698 non-null   category
 27  colenrfeb03            8658 non-null   category
 28  colenroct03            8622 non-null   category
 29  colenrfeb04            8578 non-null   category
 30  colenroct04            8546 non-null   category
 31  colenrfeb05            8508 non-null   category
 32  colenroct05            8471 non-null   category
 33  colenrfeb06            8426 non-null   category
 34  colenroct06            8407 non-null   category
 35  colenrfeb07            8352 non-null   category
 36  colenroct07            8331 non-null   category
 37  colenrfeb08            8289 non-null   category
 38  colenroct08            8280 non-null   category
 39  colenrfeb09            8236 non-null   category
 40  colenroct09            8193 non-null   category
 41  colenrfeb10            8116 non-null   category
 42  colenroct10            8091 non-null   category
 43  colenrfeb11            8037 non-null   category
 44  colenroct11            7972 non-null   category
 45  colenrfeb12            7794 non-null   category
 46  colenroct12            7754 non-null   category
 47  colenrfeb13            7754 non-null   category
 48  colenroct13            7754 non-null   category
 49  colenrfeb14            7624 non-null   category
 50  colenroct14            7469 non-null   category
 51  colenrfeb15            7469 non-null   category
 52  colenroct15            7469 non-null   category
 53  colenrfeb16            7036 non-null   category
 54  colenroct16            6733 non-null   category
 55  colenrfeb17            6733 non-null   category
 56  colenroct17            6734 non-null   category
dtypes: category(57)
memory usage: 580.8 KB

In [15]:
analysisnums = nls97.select_dtypes(include=['number'])
analysisnums.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8984 entries, 100061 to 999963
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   birthmonth             8984 non-null   int64
 1   birthyear              8984 non-null   int64
 2   highestgradecompleted  6663 non-null   float64
 3   childathome            4791 non-null   float64
 4   childnotathome         4791 non-null   float64
 5   wageincome             5091 non-null   float64
 6   nightlyhrssleep        6706 non-null   float64
 7   satverbal              1406 non-null   float64
 8   satmath                1407 non-null   float64
 9   gpaoverall             6004 non-null   float64
 10  gpaenglish             5798 non-null   float64
 11  gpamath                5766 non-null   float64
 12  gpascience             5684 non-null   float64
 13  weeksworked00          8603 non-null   float64
 14  weeksworked01          8564 non-null   float64
 15  weeksworked02          8556 non-null   float64
 16  weeksworked03          8490 non-null   float64
 17  weeksworked04          8458 non-null   float64
 18  weeksworked05          8403 non-null   float64
 19  weeksworked06          8340 non-null   float64
 20  weeksworked07          8272 non-null   float64
 21  weeksworked08          8186 non-null   float64
 22  weeksworked09          8146 non-null   float64
 23  weeksworked10          8054 non-null   float64
 24  weeksworked11          7968 non-null   float64
 25  weeksworked12          7747 non-null   float64
 26  weeksworked13          7680 non-null   float64
 27  weeksworked14          7612 non-null   float64
 28  weeksworked15          7389 non-null   float64
 29  weeksworked16          7068 non-null   float64
 30  weeksworked17          6670 non-null   float64
dtypes: float64(29), int64(2)
memory usage: 2.2 MB