In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
covidtotals = pd.read_csv('C:\dataClean\Python-Data-Cleaning-Cookbook\Chapter04\data\covidtotals.csv')
totvars = ['location', 'total_cases', 'total_deaths', 'total_cases_pm', 'total_deaths_pm']
demovars = ['population', 'pop_density', 'median_age', 'gdp_per_capita', 'hosp_beds']

In [16]:
covidtotals[demovars].isnull().sum(axis=0)

population         0
pop_density       12
median_age        24
gdp_per_capita    28
hosp_beds         46
dtype: int64

In [17]:
covidtotals[demovars].isnull().sum(axis=1)

0      0
1      0
2      0
3      3
4      1
      ..
205    0
206    3
207    0
208    0
209    0
Length: 210, dtype: int64

In [18]:
demovarsmisscnt = covidtotals[demovars].isnull().sum(axis=1)
demovarsmisscnt.value_counts()

0    156
1     24
2     12
3     10
4      8
dtype: int64

In [19]:
covidtotals.loc[demovarsmisscnt>=3, ['location'] + demovars].head(5).T

,3,5,24,28,64
location,Andorra,Anguilla,Bonaire Sint Eustatius and Saba,British Virgin Islands,Faeroe Islands
population,77265.000,15002.0,26221.0,30237.000,48865.000
pop_density,163.755,NaN,NaN,207.973,35.308
median_age,NaN,NaN,NaN,NaN,NaN
gdp_per_capita,NaN,NaN,NaN,NaN,NaN
hosp_beds,NaN,NaN,NaN,NaN,NaN

In [20]:
type(demovarsmisscnt)

pandas.core.series.Series

In [21]:
covidtotals[totvars].isnull().sum(axis=0)

location           0
total_cases        0
total_deaths       0
total_cases_pm     0
total_deaths_pm    0
dtype: int64

In [22]:
totvarsmisscnt = covidtotals[totvars].isnull().sum(axis=1)

In [23]:
totvarsmisscnt.value_counts()

0    210
dtype: int64

In [24]:
covidtotals.loc[totvarsmisscnt> 0].T

Empty DataFrame
Columns: []
Index: [iso_code, lastdate, location, total_cases, total_deaths, total_cases_pm, total_deaths_pm, population, pop_density, median_age, gdp_per_capita, hosp_beds]

In [25]:
# 修复缺失值 这个值是可以可推导值
covidtotals.total_cases_pm.fillna(covidtotals.total_cases/(covidtotals.population/1000000), inplace=True)
covidtotals.total_deaths_pm.fillna(covidtotals.total_deaths/(covidtotals.population/1000000), inplace=True)
covidtotals[totvars].isnull().sum(axis=0)

location           0
total_cases        0
total_deaths       0
total_cases_pm     0
total_deaths_pm    0
dtype: int64